<div style="display: flex ; align-items: center; justify-content: center; flex-direction: column;">
  <div style="padding-left: 30px ; display: flex ; align-items: center; width: 800px ; height: min-content">
    <div style="width: 80%"><h1 style="margin: 0">Q: Hello world! 123shopifty ?</h1></div>
    <div style="width: 20%"><p style="font-size: 50px ; margin:0">+</p></div>
  </div>
</div>




{% schema %}
{
  "name": "Custom section",
  "settings": [],
  "presets": [{ "name": "Deafault custon section" }],
  "tag": "header"
}
{% endschema %}
